<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!DOCTYPE configuration SYSTEM "mybatis-3-config.dtd">
<configuration>  <!--xmlns="http://mybatis.org/schema/mybatis-config">-->
    <!--    <databaseIdProvider type="mysql"/>-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 表示使用mysql的分页方法 -->
            <property name="helperDialect" value="mysql" />
            <!-- 表示当页码长度为0 的时候,就不进行分页查询 -->
            <property name="pageSizeZero" value="true"/>
        </plugin>
    </plugins>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
        <environment id="prod">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://snack.net.cn:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>
</configuration>